<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Adventure Cycling Directions</title>
    
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    
    <link rel="stylesheet" href="/static/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.css" />
    <script src="/static/leaflet-routing-machine-3.2.5/dist/leaflet-routing-machine.js"></script>
    <style>
        .map {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map" class="map"></div>
    <script>
        var app = new Vue({
          el: '#app',
          data: {
          },
          methods: {
              init: function() {
                
                var map = L.map('map');
                
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
                
                this.$http.get('/api/routes/24/').then(
                    function(response) {
                        console.log('success');
                        response.json().then(function(json) {
                            
                            let coords = json.coords.slice(0, 20);
                            let waypoints = [];
                            
                            _.each(coords, (coord) => {
                                waypoints.push(L.latLng(coord.latitude, coord.longitude));
                            });
                            
                            console.log(waypoints);
                            
                            L.Routing.control({
                                waypoints: waypoints,
                                routeWhileDragging: true,
                                router: new L.Routing.OSRMv1({
                                 profile: 'biking'   
                                })
                            }).addTo(map);
                            
                        });
                    },
                    function(response) {
                        console.log('error', response);
                    });
              }
          }
        });
        app.init();
    </script>
</body>
</html>